<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
  
      <!-- Property Card -->
      <div class="col">
        <div class="card h-100 shadow-lg">
          <img src="assets/images/default/property.png" class="card-img-top" style="width: 350px; height: 320px;" alt="Property Image">
          <div class="card-body">
            <h5 class="card-title">{{Property.Name}}</h5>
            <p class="card-text">
              <strong>Price:</strong> {{Property.Price}} EGP<br>
              <strong>Location:</strong> {{Property.Location}}<br>
              <strong>Area:</strong> {{Property.Area}} m²<br>
              <strong>Bedrooms:</strong> {{Property.Bedrooms}} | <strong>Bathrooms:</strong> {{Property.Bathrooms}}
            </p>
          </div>
          <div class="card-footer text-muted text-end">
            <small>For Sale • Available: May 2025</small>
          </div>
        </div>
      </div>
  
      
  
    </div>
  </div>
  